
.navbar-brand h2{
  font-family: 'Sacramento', sans-serif;
  font-size:2.5rem;
  color:#9C5518;
  padding-top: 10px;
}
#navbar_img{
  width: 40px;
  height: 40px;
}
h2 span{
  color:#5A3F11;
}
.navbar{
  padding:0.5rem;
  background-color: #222831;
}
.nav-item{
  padding: 0 18px;
  display: inline-block;
}
.nav-link{
  font-size: 1.2rem;
}
.navbar-nav{
  display: inline-block;
}
.weather{
  color: antiquewhite;
}
@media screen and (max-width: 700px) {
   .about {
     display: none;
  }
}

@media screen and (max-width: 420px) {
   .cart {
     display: none;
  }
}

@media screen and (max-width: 970px) {
   .search-box {
     display: none;
  }
}
